@page "/game"
@using Sudoku.Models
@using SudokuWASM.Components

<GameOptionsModal Show="showOptionsModal" OnStart="CreateNewGameAsync"
                  OnCancel="() => ToggleOptionsModal(false)" />

<button class="m-4 px-4 py-2 rounded bg-brandBackground hover:bg-brandBackgroundHover text-foregroundOnBrand"
        @onclick="() => ToggleOptionsModal(true)">
    New Game
</button>

@if (board is null)
{
    <LoadingScreen />
}
else
{
    <SudokuGrid Board="board" />
    <GameControls OnNewGame="() => ToggleOptionsModal(true)" />
}

